#auto generated
venv
__pycache__
dist
.pytest_cache

# local configs
.env*

# TMP FILES
uploads

# Jetbrains 
.idea

# VisualStudioCode
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

todos_?*.db
todos-?*.db