@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.3);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8d92c6;
}